@import 'base.scss';

// ===== Candy Section =====
.candy__wrapper {
    position: relative;
    height: 240px;
    background: #5d328f;
    border-bottom: 8px solid black;
    overflow: hidden;

    h1 {
        font-family: "cartoonistKooky", sans-serif;
        text-shadow:
            2px 2px 0px $font-dark,
            4px 4px 0px $deep-green;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        top: 20%;
        font-size: 3rem;
        text-align: center;
        color: $white-vintage;
        width: 80%;
        text-align: left;

        @media (max-width: 450px) {
            font-size: 2rem;
            text-align: left;
            width: 80%;
        }

    }
}

.candy {
    position: absolute;
    inset: 0;
    width: 200%;
    height: 100%;
    z-index: 0;
    background-image: url("../images/svg/stripes.svg");
    background-repeat: repeat;
    background-size: auto 100%;
    /* adjust if needed */
    animation: bgMoveLeft 12s linear infinite;
}

.candy__text {
    font-size: 2rem;
    width: 50%;
}

@keyframes bgMoveLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.mouse-scroll-cta {
    position: absolute;
    left: 96%;
    top: 50%;
    translate: -50% -50%;
    rotate: 90deg;
    font-size: 24px;
    color: $text-color;

    &__wrapper {
        white-space: nowrap;
        animation: moveDwon 5s linear infinite;


        @keyframes moveDwon {
            0% {
                transform: translate3d(0, 0, 0);
            }

            100% {
                transform: translate3d(50vh, 0, 0);
            }
        }

    }

    @media (max-width: 575px) {
        display: none;

    }
}

.glitch-on-hover-text {

    &:hover {
        animation: glitch 0.7s infinite;
    }

    @keyframes glitch {
        0% {
            text-shadow: 4px 5px #5f0100, -5px -6px #2f4858;
        }

        25% {
            text-shadow: -4px -5px #5f0100, 5px 6px #2f4858;
        }

        50% {
            text-shadow: 4px 5px #5f0100, -5px -6px #2f4858;
        }

        75% {
            text-shadow: -8px -5px #5f0100, -5px 6px #2f4858;
        }

        100% {
            text-shadow: 4px 0px #5f0100, -5px -6px #2f4858;
        }

    }
}

.glitch-on-hover-box {

    &:hover {
        animation: glitch 0.7s infinite;
    }

    @keyframes glitch {
        0% {
            box-shadow: 8px 9px $red-vintage, -9px -10px $orange-bg;
        }

        25% {
            box-shadow: -8px -9px $red-vintage, 9px 10px $orange-bg;
        }

        50% {
            box-shadow: 8px 9px $red-vintage, -9px -10px $orange-bg;
        }

        75% {
            box-shadow: -12px -9px $red-vintage, -9px 10px $orange-bg;
        }

        100% {
            box-shadow: 8px 0px $red-vintage, -9px -10px $orange-bg;
        }

    }
}